body {
  margin-left: 5rem;
  margin-right: 23rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cover-icon {
  height: 2rem;
}

#padding-div {
  padding-bottom: 2rem;
}

/* p {
  font-size: 16pt;
} */

h3, h6, h5, h4 {
  margin-bottom: -1rem;
}

button {
  background-color: #FFF;
  border: 2px solid #000;
  color: #000;
  border-radius: 5px;
  margin-right: .5rem;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#col-padding {
  margin-right: 2rem;
}

#section {
  position: relative;
  min-height: 100vh;
}

/* #vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

#horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #000;
}